@import "./variables.modules";
body,
html {
  background: -webkit-linear-gradient(135deg, rgb(0, 255, 164), rgb(166, 104, 255));
  height: 90vh;
  margin: 0;
}

nav {
  transition: $transition;
}

.active {
  color: rgb(119, 216, 74);
}

.contents {
  height: 85vh;
  min-height: 300px;
  padding: 8px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; // 복수의 행
  align-items: center;
}

.intro {
  height: 85vh;
  min-height: 300px;
  padding: 9px;
  background-color: #ffffff;
  justify-content: center;
  flex-wrap: wrap; // 복수의 행
  align-items: center;
}
.intro > div {
  width: 40vw;
  margin: auto;
}

.profileBox {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.profileBox img {
  width: 100%;
  height: 100%;
  border-radius: 70%;
  background: #ffffff;
  object-fit: cover;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.introBox {
  padding-left: 100px;
  display: inline;
  width: 30%;
}
.introBox li {
  margin-bottom: 10px;
  font-size: 20px;
}
.imgBox img {
  height: 300px;
  width: 600px;
}
.menuList {
  height: 5vh;
}
.menuList ul {
  height: 100%;
  justify-content: center;
  display: flex;
}
.menuList li {
  height: 100%;
  width: 200px;
  font-size: 25px;
  align-items: center;
  text-align: center;
}
ul {
  list-style: none;
}

li {
  transition: $transition;
  &:hover {
    transform: translateY(-3px);
    transition: $transition;
  }
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: unset;
}

.project {
  width: 50%;
  text-align: center;
}

.footer {
  height: 4vh;
  text-align: center;
}
