@import "./variables.modules";

html,
body {
  margin: 0;
  height: 100%;
  background-color: $subcolor;
  font-family: "Bellefair", serif;
}

.sidebar {
  position: fixed;
  height: 100%;
  top: 0;
  width: 14%;
  left: 0;
  background-color: $dark;
  color: $white;
  text-align: center;
}

.contents {
  position: relative;
  width: 84%;
  height: 100%;
  top: 0;
  margin: 20px;
  left: 14%;
}

.subContents {
  width: 80%;
  background-color: $white;
  margin: 50px auto;
  padding: 20px 30px;
  border-radius: 20px;
}
.main {
  position: relative;
  width: 84%;
  top: 0;
  left: 14%;
  opacity: 2;
}
.mainTitle {
  color: $white;
  font-size: 50;
  position: fixed;
  top: 40%;
  left: 30%;
  border: 2px soild $white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.subTitle {
  width: 100px;
  text-decoration: underline;
  text-decoration-color: $emphasize;
  text-underline-offset: 15px;
}
